
/* =====body===== */

$font-stack:    'RobotoRegular', sans-serif;
$primary-color: #515151;

/* =====btn===== */

$btn-font-size: 16px;
$btn-color: #3c4500;
$btn-width: 270px;
$btn-radius: 30px;
$btn-pd: 10px 0;
$btn-bgc: #deff0d;
$btn-bgc-h: rgba( 90, 234, 255, 0.5);


/* =====title===== */

$title-font-size: 40px;
$title-color: #1295a9;

/* ======input======= */

$inputpadding: 20px;
$inputborder: none;
$inputradius: 2px;


